/* This is where styles are defined for your page. */
/* One style is provided as example. */

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: purple;
}

aside {
    background: pink;
}

section {
    background: green;
}

footer {
    background: blue;
}
